
/*404*/
	@media (max-width:699px){


	h3{
			top: 20px;
			left: 24px;
	}
	.img1{
			position: absolute;
			left: 11.73%;
			right: 11.78%;
			top:11.49%;
			max-height: 378px;
			overflow: hidden;
		}

	h1{
			left: 24px;
			top: 407px;
			font-size: 48px;
			line-height: 71px;
	}
	.fragment{
			left: 23px;	
			top: 629px;		
			font-size: 18px;
			line-height: 27px;
	}
	.button{		
			left: 24px;
			top: 726px;
			width: 216px;
	}
	footer{
		top: 908px;
	}
	}